&pinctrl {
    fdcan1_rx_pb8: fdcan1_rx_pb8 {
        pinmux = <STM32_PINMUX('B', 8, AF9)>;
    };
    fdcan1_tx_pb9: fdcan1_tx_pb9 {
        pinmux = <STM32_PINMUX('B', 9, AF9)>;
    };
};

&i2c1 {
    status = "disabled";
};

&fdcan1 {
    pinctrl-0 = <&fdcan1_rx_pb8 &fdcan1_tx_pb9>;
    pinctrl-names = "default";
    status = "okay";
    bus-speed = <500000>;
    bus-speed-data = <2000000>;
};
&iwdg {
    status = "okay";
};

/ {
    chosen {
        zephyr,canbus = &fdcan1;
        zephyr,flash = &flash0;
        zephyr,flash-controller = &flash0;
        zephyr,code-partition = &slot0_partition; 

    };

    aliases {
        slot0-partition = &slot0_partition;
        slot1-partition = &slot1_partition;
        scratch-partition = &scratch_partition;
    };
};

&flash0 {

    status = "okay";

    partitions {
        compatible = "fixed-partitions";
        #address-cells = <1>;
        #size-cells = <1>;

        boot_partition: partition@0 {
            label = "mcuboot";
            reg = <0x00000000 0x00020000>;
        };

        slot0_partition: partition@20000 {
            label = "image-0";
            reg = <0x00020000 0x00060000>;
        };

        slot1_partition: partition@80000 {
            label = "image-1";
            reg = <0x00080000 0x00060000>;
        };

        scratch_partition: partition@e0000 {
            label = "image-scratch";
            reg = <0x000e0000 0x00020000>;
        };
    };
};
