name: Build Firmware & Tests

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Free Disk Space (Ubuntu)
        uses: jlumbroso/free-disk-space@main
        with:
          tool-cache: true
          android: true
          dotnet: true
          haskell: true
          large-packages: true
          docker-images: true
          swap-storage: true

      - name: Checkout
        uses: actions/checkout@v3
        with:
          path: application

      - name: Build in Docker
        uses: addnab/docker-run-action@v3
        with:
          image: ghcr.io/zephyrproject-rtos/zephyr-build:latest
          options: -v ${{ github.workspace }}:/workdir -w /workdir
          run: |
            # Initialize Zephyr Workspace
            west init -l application
            west update
            west zephyr-export

            # Build Project A: Engine ECU
            west build -p always -b nucleo_g474re application/firmware/ecu_engine

            # Build Project B: IDS Node (Sysbuild)
            west build --sysbuild -p always -b nucleo_h723zg application/firmware/ids_node

            # Build Unit Tests
            west build -p always -b nucleo_h723zg application/tests/unit/anomaly_score
